{
    "env": {
        "amd": true,
        "jquery": true,
        "browser": true,
        "es6": true,
        "node": true,
        "commonjs": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "classes": true,
            "experimentalObjectRestSpread": true
        }
    },
    "plugins": [
        "react"
    ],
    "globals": {
        "_": true,
        "Lizard": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "rules": {
        // 缩进，4个空格
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        // 禁止不必要的分号
        "no-extra-semi": "error",
        // 强制使用一致的换行风格
        "linebreak-style": [
            "error",
            "windows"
        ],
        // 数组和对象键值对最后一个逗号， never参数：不能带末尾的逗号, always参数：必须带末尾的逗号，
        "comma-dangle": [
            "error",
            "never"
        ],
        // 在块级作用域外访问块内定义的变量是否报错提示
        "block-scoped-var": "error",
        // 控制逗号在行尾出现还是在行首出现
        "comma-style": [
            "error",
            "last"
        ],
        //错误for循环检测
        "for-direction": "error",
        //不允许比较-0
        "no-compare-neg-zero": "error",
        //禁用console
        "no-console": "warn",
        //禁止出现未使用过的变量
        "no-unused-vars": "warn",
        //禁止在条件中使用常量表达式
        "no-constant-condition": "warn",
        //禁止不规则的空白
        "no-irregular-whitespace": "warn",
        //要求使用一致的 return 语句
        "consistent-return": "warn",
        //要求 Switch 语句中有 Default 分支
        "default-case": "warn",
        //遵循大括号约定
        "curly": "error",
        //禁用 Alert
        "no-alert": "error",
        //禁用未使用过的标签
        "no-unused-labels": "warn",
        //强制或禁止变量声明语句中初始化
        "init-declarations": [
            "warn",
            "always"
        ],
        //要求使用骆驼拼写法
        "camelcase": "warn",
        //强制块语句的最大可嵌套深度
        "max-depth": [
            "error",
            4
        ],
        //强制回调函数最大嵌套深度
        "max-nested-callbacks": [
            "error",
            4
        ],
        //限制函数定义中最大参数个数
        "max-params": [
            "off",
            4
        ],
        //要求构造函数首字母大写
        "new-cap": "warn",
        //不允许多个空行
        "no-multiple-empty-lines": "error",
        //禁用未声明的变量
        "no-undef": "warn",
        //禁止空块语句
        "no-empty": [
            "error",
            {
                "allowEmptyCatch": true
            }
        ],
        //禁止使用魔术数字
        "no-magic-numbers": "warn",
        //一行的最大长度
        "max-len": [
            "warn",
            120
        ],
        //对象字面量的键和值之间使用一致的空格
        "key-spacing": [
            "error",
            {
                "afterColon": true
            }
        ],
        //将对象的属性放在不同的行上
        "object-property-newline": [
            "error"
        ],
        //在花括号内使用一致的换行符
        "object-curly-newline": [
            "error",
            {
                "minProperties": 1
            }
        ],
        //函数圆括号之前有一个空格
        "space-before-function-paren": [
            "error",
            "never"
        ],
        //强制分号的位置
        "semi-style": [
            "error",
            "last"
        ]
    }
}